{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About PromptEngineered</h1>
          <span class="subheading">Unlock Creativity. One Prompt at a Time.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          We’re building a home for prompt explorers.

        </p>
        <p>
          This site is your playground for testing the coolest, most clever prompts across
          AI tools like ChatGPT, Midjourney, and more. Whether you're looking to spark creativity,
          automate a task, write better emails, or just have fun experimenting—our handpicked
          collection of prompts is here to inspire and level up your prompting game.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
